.header{
    width:100%;
    padding:18px 4%;
    font-family: 'Time New Roman', Times, serif;
}
.navbar{
    background-color:whitesmoke';
    position: relative;
    display:flex;
    align-items:center;
    width:100%;
}
.nav-left ul{
    display:flex;
    align-items:center;
    gap:40px;
    list-style:none;
    padding:0;
    margin:0;
    flex:1;

}
.nav-left a{
    font-family:'Times New Roman', Times, serif;
    font-size: 11PX;
    color:#806d65;
    text-decoration: none;

}
.logo{
    position:absolute;
    left: 50%;
    top:1oo%;
    transform:translate(-50,-50);
    margin:0px;
    width:55px;
    height:55px;

}

.logo img{
    width:55px;
    height: 55px;
    object-fit:cover;

}

.logo span {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:#806d65;
    font-size:15px;
    font-weighht:bold;
    white-space:nowrap;


}

.nav-icons{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    gap: 30px;
    flex:1;
    margin: 0;

}

.nav-icons a{
    display:flex;
    align-items:center;
    color:#806d65;
    text-decoration:none;

}
.cart {
    display:flex;
    align-items:center;
    gap: 3px;
}
.hero{
    width:82%;
    margin: 35px; auto 75px;

    display:grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    gap:45px;

}
.hero-image img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 18px;

}
.hero-content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size:  55px;
    font-weight: 250px;
    color:#a27d70;
    margin-bottom:20px;
}
.hero-content span{
    display: block;
    max-width: 400px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color:#9a8178;
    margin-bottom: 22px;
    
}
.hero-btn{
    display: inline-block;
    padding: 10px 20px;
    border-radius:12px;
    background-color: #b48b7b;
    color:#ffffff;
    text-decoration: none;
    margin-bottom: 25px;
    cursor:pointer;
}