.header{
    width:100%;
    padding:18px 4%;
    font-family: 'Time New Roman', Times, serif;
}
.navbar{
    display:flex;
    align-items:center;
    justify-content: space-between;
    position:relative;
    width:100%;
}
.nav-left ul{
    display:flex;
    align-items:center;
    gap:40px;
    list-style:none;
    padding:0;
    margin0;
    flex:1;

}
.nav-left a{
    font-family:'Times New Roman', Times, serif;
    font-size: 11PX;
    color:#806d65;
    text-decoration: none;

}
.logo{
    position:relative;
    width:55px;
    height:55px;
    margin-left:25px;
    margin-right:20px;

}

.logo img{
    width:55px;
    height: 55px;
    object-fit:cover;

}

.logo span {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:#806d65;
    font-size:15px;
    font-weighht:bold;
    white-space:nowrap;


}

.logo img{
    width:55px;
    height:55px;
    object-fit:cover;

}
.nav-icons{
    display:flex;
    align-items:center
    gap: 30px;
    margin-left:auto;
    margin-right:20px;

}

.nav-icons a{
    display:flex;
    align-items:center;
    color:#806d65;
    text-decoration:none;

}
.cart {
    display:flex;
    align-items:center;
    gap: 3px;
}