.header{
    width:100%;
    padding:18px 4%;
    font-family: 'Time New Roman', Times, serif;
}
.navbar{
    background-color:whitesmoke';
    position: relative;
    display:flex;
    align-items:center;
    width:100%;
}
.nav-left ul{
    display:flex;
    align-items:center;
    gap:40px;
    list-style:none;
    padding:0;
    margin:0;
    flex:1;

}
.nav-left a{
    font-family:'Times New Roman', Times, serif;
    font-size: 11PX;
    color:#806d65;
    text-decoration: none;

}
.logo{
    position:absolute;
    left: 50%;
    top:1oo%;
    transform:translate(-50,-50);
    margin:0px;
    width:55px;
    height:55px;

}

.logo img{
    width:55px;
    height: 55px;
    object-fit:cover;

}

.logo span {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:#806d65;
    font-size:15px;
    font-weighht:bold;
    white-space:nowrap;


}

.nav-icons{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    gap: 30px;
    flex:1;
    margin: 0;

}

.nav-icons a{
    display:flex;
    align-items:center;
    color:#806d65;
    text-decoration:none;

}
.cart {
    display:flex;
    align-items:center;
    gap: 3px;
}
.hero{
    width:82%;
    margin: 35px; auto 75px;

    display:grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    gap:45px;

}
.hero-image img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 18px;

}
.hero-content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size:  55px;
    font-weight: 250px;
    color:#a27d70;
    margin-bottom:20px;
}
.hero-content span{
    display: block;
    max-width: 400px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color:#9a8178;
    margin-bottom: 22px;
    
}
.hero-btn{
    display: inline-block;
    padding: 10px 22px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    letter-spacing: 1px;
    border: 1px solid #c9aea2;
    border-radius:35px;
    background-color: #b48b7b;
    color:#ffffff;
    text-decoration: none;
    cursor:pointer;
}
.services{
    width:90%;
    margin:0 auto 90px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    gap:25px;
}

.service-item i{
    font-size: 15px;
    color:#b18d80;
    margin-bottom:10px;
}
.service-item h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 400;
    color:#00000 ;
    margin-bottom: 6px;

}
.service-item p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #9c8981;

}
.about{
width:88%;
margin:0 auto 90px;
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
gap: 60px;
}
.about-image{
    display:flex;
    justify-content: center;
}
.about-image img{
   width: 75%;
    height: 70p%;
    object-fit :cover;
  
}

.about-content h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 400;
    color: #a27d70;
    margin-bottom: 12px;

}
.about-content p{
    max-width:700px ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #9a8178;
    margin-bottom: 18px;

}
        

.outline-btn{
    display: inline-block;
    padding: 10px 25px;
    letter-spacing: 1px;
    color:white;
    background-color:#b48b7b ;
    border: 1px solid #c9aea2;
    border-radius: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-decoration: none;
    cursor: zoom-in;
}
